{% extends 'main/layout.html' %}

{% block title %}
        <title>FireFly C°</title>
{% endblock %}
{% block main %}
        <div class="choise">
                <a href="http://127.0.0.1:8000/admin/" class="choise__link"><button class="choise__button"> АДМИН</button></a>
                <a href="" class="choise__link"><button class="choise__button"> РАБОТНИК</button></a>
                <a href="" class="choise__link"><button class="choise__button"> КЛИЕНТ</button></a>
        </div>
{% endblock %}
