{% extends 'main/layout.html' %}

{% block title %}
        <title>Оформление доставки</title>
{% endblock %}
{% block navigation %}
    <h1>Оформление заказа</h1>
{% endblock %}
{% block main %}
        <form method="post" onsubmit="alert('Заказ оформлен')">
            {% csrf_token %}
            <ul class="main__form">
                <li>Код компании {{ form.customer }}</li>
                <li>Дата вывоза груза {{ form.pickup_date }}</li>
                <li>Адрес вывоза {{ form.pickup_adress }}</li>
                <li>Вес груза {{ form.weight }}</li>
                <li>Тип груза {{ form.type }}</li>
                <li>Адрес доставки {{ form.delivery_adress }}</li>
                <span> {{ error }}</span>
            </ul>
            <button type="submit">Оформить заказ </button>
        </form>
{% endblock %}

